*{
    margin:0;
    padding:0;
    font-family:'Montserrat';
  }
  body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#212121;
  }
  .phone{

    height: 300px;
    width: 250px;
  }
  .card{
    position:relative;
    width:360px;
    height:520px;
    background:#191919;
    border-radius:20px;
    overflow:hidden;
  }
  .card::before{
    content:"";
    position:absolute;
    top:-50%;
    width:100%;
    height:100%;
    background:linear-gradient(rgb(207, 214, 230), rgb(231, 239, 249));
    transform:skewY(345deg);
    transition:0.5s;
  }
  .card:hover::before{
    top:-70%;
    transform:skewY(390deg);
  }
  .card::after{
    
    position:absolute;
    bottom:0;
    left:0;
    font-weight:600;
    font-size:4em;
    color:rgba(0,0,0,0.1);
  }
  .card .img-container{
    position:relative;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:20px;
    z-inder:1;
  }
  .card .container{
    position:relative;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:2;
  }
  .card .container h1{
    font-size:18px;
    color:#f5f5f5;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing:2px;
  }
  .card .container .price{
    font-size:24px;
    color:white;
    font-weight:700;
    letter-spacing:1px;
  }
  .card .container .buy{
    position:relative;
    top:100px;
    opacity:0;
    padding:10px 30px;
    margin-top:15px;
    color:#000000;
    text-decoration:none;
    background:linear-gradient(rgb(207, 214, 230), rgb(231, 239, 249));
    border-radius:30px;
    text-transform:uppercase;
    letter-spacing:1px;
    transition:0.5s;
  }
  .card:hover .container .buy{
    top:0;
    opacity:1;
  }
