<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      {%load static %}
      <link rel="stylesheet" href="{% static 'style.css' %}">

      <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login Form Design | CodeLab</title>
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      
      <div class="wrapper">
         <div class="title">
            forgot pasword
         </div>
         <form method="post" action="{% url 'forgot' %}">
            {% csrf_token %}
            <div class="field">
               <input type="text" id="username"  name ='username' required>
               <label>user name</label>
            </div>
             <div class="field">
               <input type="number"   id="number" name= 'OTPcode' required>
               <label>otp </label>
            </div>
            <div class="field">
               <input type="password"  name='password' required>
               <label>Password</label>
            </div>
            <div class="field">
               <input type="password" name='confirm_Password'  id="password"  required>
               <label>confirm_Password</label>
            </div>
         
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
               Not a member? <a href="/">login</a>
            </div>
         </form>
      </div>
   </body>
</html>

