<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      {%load static %}
      <link rel="stylesheet" href="{% static 'style.css' %}">

      <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login Form Design | CodeLab</title>
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      
      <div class="wrapper">
         <div class="title">
            UPDATE PROFILE
         </div>
         <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="field">
              <input type="text" id="firstname" name="firstname" value={{mymember.firstname}}>
               <label>firstname</label>
            </div>
             <div class="field">
              <input type="text" id="lastname" name="lastname" value={{mymember.lastname}}>
              <label>lastname
              </label>
            </div>
            <div class="field">
              <input type="number" id="phone" name="phone" value={{mymember.phone}}>
               <label>Phone</label>
            </div>
           
         
            <div class="field">
               <input type="submit" value="UPDATE">
            </div>
           
         </form>
      </div>
   </body>
</html>