

<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  {%load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %}
  <link rel="stylesheet" href="{% static 'mystyle.css' %}"> {% endcomment %}
  {% comment %} <img rel="stylesheet" href="{% static 'images/image1.jpg' %}"> {% endcomment %}
  <title>Login Form Design | CodeLab</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="wrapper">
    <div class="title">
      UPDATE PROFILE
    </div>
    <form method="post" action="{% url 'forgot' %}">
      {% csrf_token %}

      <div class="field">
        <input type="text" id="number" name='firstname'   value={{mymember.firstname}} required>
        <label>firstname </label>
      </div>
      <div class="field">
        <input type="text" name='lastname'   value={{mymember.lastname}} required>
        <label>lastname</label>
      </div>
      <div class="field">
        <input type="text" name='phone' id="phone"  value={{mymember.phone}} required>
        <label>phone</label>
      </div>

      <div class="field">
        <input type="submit" value="UPDATE">
      </div>
      
    </form>
  </div>
</body>

</html>